body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: rgb(194, 210, 212);
}

.container {
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
}

input, textarea {
    margin-bottom: 10px;
    width: ;

}

#mensaje {
    font-weight: bold;


}

.campo {
    border: 1px solid rgb(205, 243, 255);
    padding: 10px;
    
}